body {
  overflow: auto;
}

#about-us-header {
  background-color: #000;
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
}

#project-introduction {
  padding: 1.5em 20vw;
}

#students {
  display: flex;
  justify-content: space-between;
  width: 100%;
}